* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  border-top: solid 5vh black;
  border-bottom: solid 5vh black;
  background-color: rgb(250, 250, 238);
  position: relative;
  overflow: hidden;
  background: url("./Assets/gif\ japan.gif") no-repeat center center;
  background-size: cover;
}

@font-face {
  font-family: "Annie";
  src: url("./Assets/Annie_Use_Your_Telescope/AnnieUseYourTelescope-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Licorice";
  src: url("./Assets/Licorice/Licorice-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Marker";
  src: url("./Assets/Permanent_Marker/PermanentMarker-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

#gameBox {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 500px;
  max-height: 500px;
}

.bulle {
  border: 1px solid black;
  border-radius: 10px;
  width: 25vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh 1vw;
  gap: 1.5vh;
  font-family: Annie;
  font-size: clamp(1vh, 2.5vw, 25px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  line-height: 4vh;
  background-color: white;
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-100%);
  margin: 0rem 1rem;
}

#buble {
  height: 1.5vw;
  width: 1.5vw;
  min-width: 15px;
  min-height: 15px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  border-radius: 50%;
  top: 62%;
  left: 50%;
  animation: agrandissement 10s infinite ease-in-out;
}

.sushi {
  height: 30vw; /* Taille responsive basée sur la largeur de la fenêtre */
  width: 30vw;
  min-width: 15vw; /* Taille minimale */
  min-height: 15vh;
  max-width: 35vh;
  max-height: 35vh;
  background: url("./Assets/Sushi2.png") no-repeat center center;
  background-size: contain;
  animation: agrandissement 10s infinite ease-in-out;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centre l'image */
}

/* Définition de l'animation */
@keyframes agrandissement {
  0% {
    transform: scale(1); /* Taille normale */
  }
  50% {
    transform: scale(1.05); /* Agrandi légèrement */
  }
  100% {
    transform: scale(1); /* Retour à la taille normale */
  }
}

#prompt,
#answer {
  display: none;
  border: 1px solid rgb(63, 63, 63);
  border-radius: 5px;
  height: 4vh;
  font-size: clamp(1vh, 2.5vw, 25px);
  text-align: center;
}

#answer {
  width: 70px;
}

#play {
  width: auto;
  padding: 1vh 1vw;
  max-width: 70%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid rgb(63, 63, 63);
  cursor: url(./Assets/cursor.ico) 4 28, auto;
  transition: 0.3s ease;
  background-color: rgb(250, 250, 238);
  font-size: clamp(9px, 2.5vw, 25px);
  font-family: Annie;
  letter-spacing: 2px;
}
#play:hover {
  transform: scale(1.1);
  border: 1px solid rgb(250, 133, 133);
}

.lampion {
  background: url(./Assets/lampion2.png) center/cover;
  height: 30vw; /* Taille responsive basée sur la largeur de la fenêtre */
  width: 30vw;
  min-width: 10vw; /* Taille minimale */
  min-height: 10vh;
  max-width: 20vh;
  max-height: 20vh;
  z-index: 1000;
  position: absolute;
  top: -0.5vh;
  left: 50%;
  transform: translate(-50%);
}

.signature {
  position: absolute;
  bottom: 2%;
  right: 2%;
  font-family: Licorice;
  font-size: clamp(9px, 2.5vw, 20px);
  color: rgb(199, 199, 199);
}

#volumeUp,
#volumeOff {
  position: absolute;
  color: rgb(199, 199, 199);
  right: 2%;
  top: 2%;
  cursor: url(./Assets/cursor.ico) 4 28, auto;
}

#volumeOff {
  display: none;
}

.scoreDisplay {
  font-family: Annie, serif;
  font-size: clamp(1vh, 1vw, 2vw);
  max-width: 35vw;
  position: absolute;
  bottom: 5%;
  left: 3%;
  color: rgb(43, 43, 43);
  display: none;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid black;
}

#borderTop,
#borderBottom {
  color: rgb(199, 199, 199);
  font-size: 2vh;
}

#borderTop {
  display: inline-block;
  position: fixed;
  top: 1vh;
  white-space: nowrap;
  animation: scrollText 50s linear infinite;
}
@keyframes scrollText {
  0% {
    transform: translateX(200%); /* Commence à droite, hors de vue */
  }
  100% {
    transform: translateX(-220%); /* Finit à gauche, hors de vue */
  }
}
#borderBottom {
  display: inline-block;
  position: fixed;
  bottom: 1vh;
  white-space: nowrap;
  animation: scrollText2 50s linear infinite; /* Animation continue */
}
@keyframes scrollText2 {
  0% {
    transform: translateX(-200%); /* Commence à gauche, hors de vue */
  }
  100% {
    transform: translateX(220%); /* Finit à droite, hors de vue */
  }
}

@keyframes shake {
  0% {
    transform: translateY(-100%);
  }
  25% {
    transform: translateY(-101%) rotate(-1deg);
  }
  50% {
    transform: translateY(-98%) rotate(0);
  }
  75% {
    transform: translateY(-101%) rotate(+1deg);
  }
  100% {
    transform: translateY(-100%);
  }
}

.shake {
  animation: shake 0.5s ease; /* Durée et effet de tremblement */
}
